ul{
    position: absolute;
    transform: translate(-50%,50%);
    top: 50%;
    left: 50%;
    /* display: flex; */
}
ul li{
    list-style: none;
}
ul li a{
    position: relative;
    padding: 10px 20px;
    margin: 20px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: bold;

}
ul li a:hover{
    color: var(--sub-color);
}
ul li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-top: 2px solid #000001;
    border-bottom: 2px solid #000001;
    transform: scaleY(2);
    opacity: 0;
    transition: .5s;
    z-index: -1;
}
ul li a:hover::before{
    transform: scaleY(1.2);
    opacity: 1;
}
ul li a::after{
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    transform: scale(0);
    transition: .5s;
    z-index: -1;
}
ul li a:hover::after{
    transform: scale(1);
}